/********** Base styles **********/
#header-nav {
  background-color: #C0C0C0;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  margin-bottom: 20px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: serif;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-left: 10px;
  line-height: .75;
}

button.navbar-toggle {
  margin-top: 20px;
}

#nav-list {
  margin-bottom: 0;
  margin-top: 0;
  background-color: #aaa9ad;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

#Chicken, #Beef, #Sushi {
  border: 1px solid #000000;
  background-color: #C0C0C0;
  font-family: sans-serif;
  color: black;
  display: block;
  margin: 10px auto;
  padding: 0 10px;
  float: left;

}

h1 {
  text-align: center;
}

#Chicken h3, #Beef h3, #Sushi h3 {
  text-align: center;
  font-weight: bold;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar-brand h1{
  margin-left: 25px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  .navbar-brand h1{
  margin-left: 25px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand h1{
  margin-left: 25px;
  }

  .col-sm-12 {
  margin-top: 10px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .col-xs-12 {
  margin-bottom: 10px;
  }
}
